﻿@model ESPad.Models.Main.MyNotes
<br />
@using (Html.BeginForm("SaveNotes", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            @Html.LabelFor(x => x.NoteDate)
            @Html.HiddenFor(x=>x.NoteID)
            @Html.HiddenFor(x=>x.UserID)
        </div>
        <div class="col-lg-12">
            @Html.TextAreaFor(x=>x.Notes, new { style = "width:700px;height:400px" })
        </div>
        <div class="col-lg-12">
            <input type="submit" value="Save" />
        </div>
    </div>
}


