﻿@model ESPad.Models.Main.MyNotes
@{
    ViewBag.Title = "Archived Notes";
}
<br />
@using (Html.BeginForm("GetNotes", "OldNotes", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-5" id="divCalendar">
            @Html.TextBoxFor(model => model.NoteDate, new { @class = "form-control datepicker", placeholder = "Enter Note date here..." })
        </div>
        <div class="col-lg-3" id="divApplyBtn">
            <input type="submit" value="Get Notes" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.LabelFor(x => x.NoteDate)
            @Html.HiddenFor(x => x.NoteID)
            @Html.HiddenFor(x => x.UserID)
        </div>
        <div class="col-lg-12">
            @Html.TextAreaFor(x => x.Notes, new { style = "width:700px;height:400px", @readonly = "readonly" })
        </div>
    </div>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")
<script type="text/javascript">

    $(function () { // will trigger when the document is ready
        $.noConflict();
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>