﻿@model List<ESPad.Models.StickyNotes>
@{
    ViewBag.Title = "Stickynotes";
}

<div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2"><a>Add sticky Note</a></div>
</div>
<div class="row">
    @foreach (ESPad.Models.StickyNotes note in Model)
    {
        <div>
            @Html.TextBox("notes", note.NoteDescription, new { style = "height:100px;width:100px" })
        </div>
    }
</div>

